#navbar{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 1rem 0;
}
#navbar .left{
    display: flex;
    width: 58%;
    align-items: center;
}

#navbar .left .logo_img{
    width: 9rem;    
}
#navbar .left input{
    width: 100%;
    margin: 0 2rem;
    height: 80%;
}

#navbar img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
#navbar .right{
    display: flex;
    gap: 2rem;
    align-items: center;
}

#navbar .right .svg-img{
    width: 1.2rem;
}


#navbar .right .sign-in{
    padding: 0.4rem 0.8rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    background-color: #f84464;
    color: #fff;
    border: none;
}